.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.header h3 {
    margin: 0;
}

form {
    display: grid;
    grid-template-rows: 4rem 4rem 6rem;
    gap: 1rem;
}