<div class="card">
  <div class="card-header">
    <img src="/assets/icons/constraint.png" />
    <span>最近20条约束</span>
    <div style="display: flex; flex: 1;"></div>
    <button mat-mini-fab color="primary" (click)="onRefeshClick()">
      <mat-icon>autorenew</mat-icon>
    </button>
  </div>
  <div class="card-body">
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let element" style="width: 15rem;">
          <span *ngIf="element.id" style="color: #fee2e2;">{{element.id}}</span>
        </td>
      </ng-container>
      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef> 类别 </th>
        <td mat-cell *matCellDef="let element" style="width: 9rem;">
          <span *ngIf="element.category === categeryOps[1].key" style="color: #a5f3fc;">
            {{categeryOps[1].value}}
          </span>
          <span *ngIf="element.category === categeryOps[2].key" style="color: #fde68a;">
            {{categeryOps[2].value}}
          </span>
          <span *ngIf="element.category === categeryOps[3].key" style="color: #a7f3d0;">
            {{categeryOps[3].value}}
          </span>
          <span *ngIf="element.category === categeryOps[4].key" style="color: #f9a8d4;">
            {{categeryOps[4].value}}
          </span>
        </td>
      </ng-container>
      <ng-container matColumnDef="method">
        <th mat-header-cell *matHeaderCellDef> 方式 </th>
        <td mat-cell *matCellDef="let element" style="width: 4rem;">
          <span *ngIf="element.method === methodOps[1].key" style="color: #93c5fd;">{{methodOps[1].value}}</span>
          <span *ngIf="element.method === methodOps[2].key" style="color: #c4b5fd;">{{methodOps[2].value}}</span>
        </td>
      </ng-container>
      <ng-container matColumnDef="expiredAt">
        <th mat-header-cell *matHeaderCellDef> 到期时间 </th>
        <td mat-cell *matCellDef="let element" style="width: 6rem;">
          <span *ngIf="element.expiredAt">{{element.expiredAt| date:'yyyy-MM-dd'}}</span>
          <span *ngIf="!element.expiredAt">- - -</span>
        </td>
      </ng-container>
      <ng-container matColumnDef="ctmName">
        <th mat-header-cell *matHeaderCellDef> 客户账号 </th>
        <td mat-cell *matCellDef="let element" style="color: #a5f3fc; min-width: 4rem;"> {{element.ctmName}} </td>
      </ng-container>
      <ng-container matColumnDef="sysName">
        <th mat-header-cell *matHeaderCellDef> 系统名称 </th>
        <td mat-cell *matCellDef="let element" style="min-width: 5rem;">
          <span *ngIf="element.sysName" style="color: #fee2e2;">{{element.sysName}}</span>
          <span *ngIf="!element.sysName">- - -</span>
        </td>
      </ng-container>
      <ng-container matColumnDef="functionName">
        <th mat-header-cell *matHeaderCellDef> 功能/角色 </th>
        <td mat-cell *matCellDef="let element" style="color: #ecfccb;min-width: 4rem;"> {{element.functionName}}</td>
      </ng-container>
      <ng-container matColumnDef="origin">
        <th mat-header-cell *matHeaderCellDef> 约束来源 </th>
        <td mat-cell *matCellDef="let element">
          <span matTooltip={{element.origin}}>{{element.origin|clip:8}} </span>
        </td>
      </ng-container>
      <ng-container matColumnDef="createdAt">
        <th mat-header-cell *matHeaderCellDef> 创建时间 </th>
        <td mat-cell *matCellDef="let element"> {{element.createdAt | date:'yyyy-MM-dd HH:mm:ss'}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" class="table-header-row"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="table-element-row"></tr>
    </table>
  </div>
</div>