.table {
    max-height: 34rem;
    overflow-y: auto;
    padding-bottom: 0.25rem;
    padding-right: 0.5rem;
}

table {
    width: 100%;
}

mat-card-title button {
    float: right;
    font-size: 12px;
    margin-left: 1rem;
}

mat-card-title .mat-raised-button {
    line-height: 24px;
    width: 3rem;
    padding: 0;
    min-width: 2rem;
}

.search {
    display: grid;
    grid-template-columns: auto auto;
    gap: 0.5rem;
    margin-bottom: 0.25rem;
}

.search ::ng-deep .mat-form-field-wrapper {
    padding-bottom: 0;
}

.mat-card-title {
    display: grid;
    grid-template-columns: auto 4rem 4rem 4rem 4rem;
}

.mat-card-title .mat-raised-button {
    height: 24px;
    line-height: 24px;
    width: 3rem;
    padding: 0;
    min-width: 2rem;
}

.customer-avatar {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
}