<div class="page">
    <div class="topbar">
        <img src="/assets/icons/analytcis.png" />
        <h2>起始页</h2>
    </div>
    <div class="module-wrap">
        <app-widget-activity *ngFor="let widget of widgets" [msg]="widget"></app-widget-activity>
    </div>
    <div class="activity-wrap">
        <app-customer-activity [dataSource]="customers"></app-customer-activity>
        <app-log-activity [dataSource]="logs"></app-log-activity>
    </div>
    <div class="constraint-wrap">
        <app-constraint-activity [dataSource]="constraints"></app-constraint-activity>
    </div>
</div>