.page {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 5rem 13rem 26rem 26rem;
}

.module-wrap {
    margin: auto;
    padding: 1rem 1rem 0rem 1rem;
    display: grid;
    width: 90%;
    min-width: 1024px;
    max-width: 1366px;
    grid-template-columns: auto auto auto auto;
    column-gap: 2rem;
}

.activity-wrap {
    margin: auto;
    display: grid;
    padding: 1rem;
    width: 90%;
    min-width: 1024px;
    max-width: 1366px;
    grid-template-columns: auto auto;
    column-gap: 2rem;
}

.constraint-wrap {
    margin: auto;
    padding: 1rem;
    width: 90%;
    min-width: 1024px;
    max-width: 1366px;
}
