.page {
    height: calc(100vh - 14rem);
    width: 100%;
    display: grid;
    grid-template-rows: 5rem 13rem 26rem 26rem;
}

.topbar {
    width: 100%;
    background-color: #e91e63;
}

.module-wrap {
    margin: auto;
    padding: 1rem 1rem 0rem 1rem;
    display: grid;
    grid-template-columns: 14rem 14rem 14rem 14rem;
    column-gap: 2rem;
}

.activity-wrap {
    margin: auto;
    display: grid;
    padding: 1rem;
    grid-template-columns: 30rem 30rem;
    column-gap: 2rem;
}

.constraint-wrap {
    margin: auto;
    padding: 1rem;
    width: 62rem;
}
