.page {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 5rem auto;
}

.content-warp {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    margin-top: 4rem;
    margin-bottom: 2rem;
    width: 90%;
    min-width: 1024px;
    max-width: 1366px;
    display: grid;
    grid-template-columns: 26rem auto;
    column-gap: 2rem;
}