<div class="page">
  <div class="topbar">
    <img src="/assets/icons/app.png" />
    <div>
      <h2>系统管理 ---> 【{{sysName}}】的角色管理</h2>
    </div>
    <div class="box-fill"></div>
    <button mat-flat-button color="accent" (click)="onAddClick()">
      <mat-icon>add</mat-icon>添加
    </button>
    <button mat-flat-button color="accent" (click)="onSearchClick()">
      <mat-icon>search</mat-icon>搜索
    </button>
    <button mat-flat-button color="accent" (click)="onResetClick()">
      <mat-icon>autorenew</mat-icon>重置
    </button>
    <button mat-flat-button color="accent" (click)="onPreviousPageClick()">
      <mat-icon>arrow_back</mat-icon>返回
    </button>
  </div>
  <div class="content-warp">
    <mat-card class="search">
      <form class="form">
        <mat-form-field appearance="outline">
          <mat-label>名称/标识码</mat-label>
          <input matInput placeholder="请输入要搜索的名称/标识码" [(ngModel)]="dto.nameOrCode" name="nameOrCode" autocomplete="off">
          <mat-icon matSuffix>report</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>角色等级</mat-label>
          <mat-select [(ngModel)]="dto.rank" name="rank">
            <mat-option [value]="0">全部</mat-option>
            <mat-option [value]="1">默认</mat-option>
            <mat-option [value]="2">普通用户</mat-option>
            <mat-option [value]="10">所有约束</mat-option>
            <mat-option [value]="100">业务员</mat-option>
            <mat-option [value]="1000">管理员</mat-option>
            <mat-option [value]="10000">超级管理员</mat-option>
          </mat-select>
          <mat-icon matSuffix>category</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>约束类别</mat-label>
          <mat-select [(ngModel)]="dto.type" name="type">
            <mat-option value="">无</mat-option>
            <mat-option value="1">禁用</mat-option>
            <mat-option value="2">锁定</mat-option>
            <mat-option value="3">所有约束</mat-option>
          </mat-select>
          <mat-icon matSuffix>category</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>创建时间</mat-label>
          <mat-date-range-input [rangePicker]="picker">
            <input matStartDate [(ngModel)]="dto.startAt" name="startAt" placeholder="开始日期">
            <input matEndDate [(ngModel)]="dto.endAt" name="endAt" placeholder="结束日期">
          </mat-date-range-input>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
      </form>
    </mat-card>
    <mat-card class="table">
      <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> 角色名称 </th>
          <td mat-cell *matCellDef="let element" style="color: #a5f3fc;min-width: 5rem;"> {{element.name}} </td>
        </ng-container>
        <ng-container matColumnDef="code">
          <th mat-header-cell *matHeaderCellDef> 标识码 </th>
          <td mat-cell *matCellDef="let element" style="color: #a7f3d0;min-width: 5rem;"> {{element.code}} </td>
        </ng-container>
        <ng-container matColumnDef="rank">
          <th mat-header-cell *matHeaderCellDef> 级别 </th>
          <td mat-cell *matCellDef="let element" style="min-width: 5rem;">
            <span *ngIf="element.rank === 1" style="color: #a5f3fc;">默认</span>
            <span *ngIf="element.rank === 2" style="color: #fde68a;">普通用户</span>
            <span *ngIf="element.rank === 10" style="color: #a7f3d0;">会员</span>
            <span *ngIf="element.rank === 100" style="color: #f9a8d4;">业务员</span>
            <span *ngIf="element.rank === 1000" style="color: #67e8f9;">管理员</span>
            <span *ngIf="element.rank === 10000" style="color: #34d399;">超级管理员</span>
          </td>
        </ng-container>
        <ng-container matColumnDef="limitedMethod">
          <th mat-header-cell *matHeaderCellDef> 方式 </th>
          <td mat-cell *matCellDef="let element" style="min-width: 4rem;">
            <span *ngIf="element.limitedMethod === ''">- - -</span>
            <span *ngIf="element.limitedMethod === '1'" style="color: #fde68a;">禁用</span>
            <span *ngIf="element.limitedMethod === '2'" style="color: #f9a8d4;">锁定</span>
          </td>
        </ng-container>
        <ng-container matColumnDef="createdAt">
          <th mat-header-cell *matHeaderCellDef> 创建时间 </th>
          <td mat-cell *matCellDef="let element"> {{element.createdAt| date:'yyyy-MM-dd HH:mm:ss'}} </td>
        </ng-container>
        <ng-container matColumnDef="limitedExpiredAt">
          <th mat-header-cell *matHeaderCellDef> 过期时间 </th>
          <td mat-cell *matCellDef="let element" style="min-width: 5rem;">
            <span *ngIf="element.limitedExpiredAt">{{element.limitedExpiredAt|date:'yyyy-MM-dd'}}</span>
            <span *ngIf="!element.limitedExpiredAt">- - -</span>
          </td>
        </ng-container>
        <ng-container matColumnDef="remark">
          <th mat-header-cell *matHeaderCellDef> 备注 </th>
          <td mat-cell *matCellDef="let element">
            <span matTooltip={{element.remark}}>{{element.remark|clip:15}} </span>
          </td>
        </ng-container>
        <ng-container matColumnDef="operate">
          <th mat-header-cell *matHeaderCellDef> 操作 </th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button matTooltip="编辑" (click)="onEditClick(element)">
              <mat-icon>mode_edit_outline</mat-icon>
            </button>
            <button mat-icon-button matTooltip="权限配置" (click)="onFuntionsClick(element)">
              <mat-icon>all_inclusive</mat-icon>
            </button>
            <button mat-icon-button matTooltip="删除" (click)="onDeleteClick(element)">
              <mat-icon>delete_sweep</mat-icon>
            </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" class="table-header-row"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="table-element-row"></tr>
      </table>
    </mat-card>
    <mat-card class="footer">
      <app-paginator [total]="total" [columns]="columns" [columnOp]="columnOp" (onChange)="paginatorChange($event)">
      </app-paginator>
    </mat-card>
  </div>
</div>