.page {
    height: 100vh;
    width: 100vw;
    min-width: 1024px;
}

.header {
    height: 4rem;
    background-color: #e91e63;
    z-index: 100;
    box-shadow: 0 3px 5px -1px #0003, 0 6px 10px #00000024, 0 1px 18px #0000001f;
    position: relative;
}

.body {
    height: calc(100vh - 4rem);
    width: 100vw;
    min-width: 1024px;
    overflow-y: auto;
    overflow-x: auto;
}
