<div class="page">
  <div class="topbar">
    <img src="/assets/icons/program.png" />
    <div>
      <h2>程序管理页面</h2>
    </div>
    <div class="box-fill"></div>
    <button mat-flat-button color="accent" *ngxPermissionsOnly="['pgm_add']" (click)="onAddClick()">
      <mat-icon>add</mat-icon>添加
    </button>
    <button mat-flat-button color="accent" (click)="onSearchClick()">
      <mat-icon>search</mat-icon>搜索
    </button>
    <button mat-flat-button color="accent" (click)="onResetClick()">
      <mat-icon>autorenew</mat-icon>重置
    </button>
  </div>
  <div class="content-warp">
    <mat-card class="search">
      <form class="form">
        <mat-form-field appearance="outline">
          <mat-label>名称/标识码</mat-label>
          <input matInput placeholder="请输入要搜索的名称/标识码" [(ngModel)]="dto.nameOrCode" name="name" autocomplete="off">
          <mat-icon matSuffix>report</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>类别</mat-label>
          <mat-select [(ngModel)]="dto.category" name="category">
            <mat-option [value]="item.key" *ngFor="let item of typeOps">{{item.value}}</mat-option>
          </mat-select>
          <mat-icon matSuffix>category</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>功能简介/备注</mat-label>
          <input matInput placeholder="请输入要搜索的功能简介/备注" [(ngModel)]="dto.remark" name="remark" autocomplete="off">
          <mat-icon matSuffix>message</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>创建时间</mat-label>
          <mat-date-range-input [rangePicker]="picker">
            <input matStartDate [(ngModel)]="dto.startAt" name="startAt" placeholder="开始日期">
            <input matEndDate [(ngModel)]="dto.endAt" name="endAt" placeholder="结束日期">
          </mat-date-range-input>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
      </form>
    </mat-card>

    <mat-card class="table">
      <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> 程序名称 </th>
          <td mat-cell *matCellDef="let element" style="color: #a5f3fc;min-width: 4rem;"> {{element.name}}</td>
        </ng-container>
        <ng-container matColumnDef="category">
          <th mat-header-cell *matHeaderCellDef> 类别 </th>
          <td mat-cell *matCellDef="let element" style="min-width: 4rem;">
            <span *ngIf="element.category === typeOps[1].key" style="color: #a5f3fc;">{{typeOps[1].value}}</span>
            <span *ngIf="element.category === typeOps[2].key" style="color: #fde68a;">{{typeOps[2].value}}</span>
            <span *ngIf="element.category === typeOps[3].key" style="color: #a7f3d0;">{{typeOps[3].value}}</span>
            <span *ngIf="element.category === typeOps[4].key" style="color: #f9a8d4;">{{typeOps[4].value}}</span>
          </td>
        </ng-container>
        <ng-container matColumnDef="code">
          <th mat-header-cell *matHeaderCellDef> 标识码 </th>
          <td mat-cell *matCellDef="let element" style="color: #fee2e2;min-width: 4rem;"> {{element.code}}</td>
        </ng-container>
        <ng-container matColumnDef="createdAt">
          <th mat-header-cell *matHeaderCellDef> 创建时间 </th>
          <td mat-cell *matCellDef="let element"> {{element.createdAt| date:'yyyy-MM-dd HH:mm:ss'}} </td>
        </ng-container>
        <ng-container matColumnDef="intro">
          <th mat-header-cell *matHeaderCellDef> 功能简介 </th>
          <td mat-cell *matCellDef="let element">
            <span matTooltip={{element.intro}}>{{element.intro|clip:15}} </span>
          </td>
        </ng-container>
        <ng-container matColumnDef="remark">
          <th mat-header-cell *matHeaderCellDef> 备注 </th>
          <td mat-cell *matCellDef="let element">
            <span matTooltip={{element.remark}}>{{element.remark|clip:12}} </span>
          </td>
        </ng-container>
        <ng-container matColumnDef="operate">
          <th mat-header-cell *matHeaderCellDef> 操作 </th>
          <td mat-cell *matCellDef="let element" style="width: 8rem;">
            <button mat-icon-button matTooltip="编辑" matTooltipPosition="below" *ngxPermissionsOnly="['pgm_update']"
              (click)="onEditClick(element)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button matTooltip="模块/功能配置" matTooltipPosition="below" *ngxPermissionsOnly="['pgm_cfg']"
              (click)="onConfigClick(element)">
              <mat-icon>all_inclusive</mat-icon>
            </button>
            <button mat-icon-button matTooltip="删除" matTooltipPosition="below" *ngxPermissionsOnly="['pgm_delete']"
              (click)="onDeleteClick(element)">
              <mat-icon>delete_sweep</mat-icon>
            </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" class="table-header-row"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="table-element-row"></tr>
      </table>
    </mat-card>

    <mat-card class="footer">
      <app-paginator [pageIndex]="params.pageIndex" [total]="total" [columns]="columns" [columnOp]="columnOp"
        (onChange)="onPaginatorChange($event)">
      </app-paginator>
    </mat-card>
  </div>
</div>