mat-card {
    display: flex;
    align-items: center;
    flex-direction: column;
}

img {
    height: 4rem;
    width: 4rem;
    margin-bottom: 1rem;
}

img:hover {
    -webkit-animation: wobble-hor-bottom 0.8s both;
    animation: wobble-hor-bottom 0.8s both;
    animation-delay: 300ms;
}
