<mat-card class="search">
    <mat-form-field appearance="outline">
        <mat-label>系统名称</mat-label>
        <input matInput placeholder="请输入要搜索的系统名称" [(ngModel)]="dto.sysName" autocomplete="off">
        <mat-icon matSuffix>gamepad</mat-icon>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>角色名称</mat-label>
        <input matInput placeholder="请输入要搜索的角色名称" [(ngModel)]="dto.roleName" autocomplete="off">
        <mat-icon matSuffix>report</mat-icon>
    </mat-form-field>
    <button mat-flat-button color="accent" *ngxPermissionsOnly="['ctm_role_add']" (click)="onAddClick()">
        <mat-icon>add</mat-icon>添加
    </button>
    <button mat-flat-button color="accent" (click)="onSearchClick()">
        <mat-icon>search</mat-icon>搜索
    </button>
    <button mat-flat-button color="accent" (click)="onResetClick()">
        <mat-icon>autorenew</mat-icon>重置
    </button>
</mat-card>

<mat-card class="table">
    <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="sysLogo">
            <th mat-header-cell *matHeaderCellDef> 头像 </th>
            <td mat-cell *matCellDef="let element">
                <img class="system-icon" *ngIf="element.sysLogo" [src]="element.sysLogo" />
                <img class="system-icon" *ngIf="!element.sysLogo" src="/assets/icons/sys.png" />
            </td>
        </ng-container>
        <ng-container matColumnDef="sysName">
            <th mat-header-cell *matHeaderCellDef> 系统名称 </th>
            <td mat-cell *matCellDef="let element" style="color: #a5f3fc;min-width: 5rem;">
                {{element.sysName}}&nbsp;&nbsp; </td>
        </ng-container>
        <ng-container matColumnDef="roleName">
            <th mat-header-cell *matHeaderCellDef> 角色名称 </th>
            <td mat-cell *matCellDef="let element" style="color: #fde68a;min-width: 5rem;">
                {{element.roleName}}&nbsp;&nbsp; </td>
        </ng-container>
        <ng-container matColumnDef="rank">
            <th mat-header-cell *matHeaderCellDef> 角色等级 </th>
            <td mat-cell *matCellDef="let element" style="min-width: 5rem;">
                <span *ngIf="element.rank === rankOps[1].key" style="color: #a5f3fc;">{{rankOps[1].value}}</span>
                <span *ngIf="element.rank === rankOps[2].key" style="color: #fde68a;">{{rankOps[2].value}}</span>
                <span *ngIf="element.rank === rankOps[3].key" style="color: #a7f3d0;">{{rankOps[3].value}}</span>
                <span *ngIf="element.rank === rankOps[4].key" style="color: #f9a8d4;">{{rankOps[4].value}}</span>
                <span *ngIf="element.rank === rankOps[5].key" style="color: #67e8f9;">{{rankOps[5].value}}</span>
                <span *ngIf="element.rank === rankOps[6].key" style="color: #34d399;">{{rankOps[6].value}}</span>
            </td>
        </ng-container>
        <ng-container matColumnDef="createdAt">
            <th mat-header-cell *matHeaderCellDef> 关联时间 </th>
            <td mat-cell *matCellDef="let element" style="min-width: 5rem;"> {{element.createdAt| date:'yyyy-MM-dd'}}
            </td>
        </ng-container>
        <ng-container matColumnDef="remark">
            <th mat-header-cell *matHeaderCellDef> 角色备注 </th>
            <td mat-cell *matCellDef="let element">
                <span matTooltip={{element.remark}}>{{element.remark|clip:18}} </span>
            </td>
        </ng-container>
        <ng-container matColumnDef="operate">
            <th mat-header-cell *matHeaderCellDef> 操作 </th>
            <td mat-cell *matCellDef="let element" style="width: 6rem;">
                <button mat-icon-button matTooltip="修改" *ngxPermissionsOnly="['ctm_role_update']"
                    (click)="onEditClick(element)">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button matTooltip="撤销" *ngxPermissionsOnly="['ctm_role_delete']"
                    (click)="onCancelClick(element)">
                    <mat-icon>delete_sweep</mat-icon>
                </button>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" class="table-header-row"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="table-element-row"></tr>
    </table>
</mat-card>

<mat-card class="footer">
    <app-paginator [total]="total" [pageSize]="pageSize" [columns]="columns" [columnOp]="columnOp"
        (onChange)="onPaginatorChange($event)">
    </app-paginator>
</mat-card>