<div mat-dialog-title class="header">
  <h3>{{title}}</h3>
</div>
<div mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field appearance="outline">
      <mat-label>系统名称</mat-label>
      <mat-select formControlName="sysId" (valueChange)="onSystemChange($event)">
        <mat-option *ngFor="let item of sysOptions" [value]="item.key">{{item.value}}</mat-option>
      </mat-select>
      <mat-hint>请选择系统</mat-hint>
      <mat-icon matSuffix>gamepad</mat-icon>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>角色名称</mat-label>
      <mat-select formControlName="roleId">
        <mat-option *ngFor="let item of roleOptions" [value]="item.key">{{item.value}}</mat-option>
      </mat-select>
      <mat-hint>请选择角色</mat-hint>
      <mat-icon matSuffix>military_tech</mat-icon>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions align="end">
  <button mat-button color="warn" (click)="onCloseClick()">取消</button>
  <button mat-button [disabled]="!form.valid" color="accent" (click)="onSaveClick()">保存</button>
</div>