<div class="page">
  <div class="topbar">
    <img src="/assets/icons/program.png" />
    <div>
      <h2>程序管理 -- {{programType}} -- 【{{programName}}】</h2>
    </div>
    <div class="box-fill"></div>
    <button mat-flat-button color="accent" *ngxPermissionsOnly="['pgm_sect_add']" (click)="onAddSectionClick()">
      <mat-icon>add</mat-icon>添加模块
    </button>
    <button mat-flat-button color="accent" (click)="onPreviousPageClick()">
      <mat-icon>arrow_back</mat-icon>返回
    </button>
  </div>

  <div class="content-warp">
    <div class="content">
      <app-program-section #sectCmpt [data]="sections" [title]="sectionsTitle" [selectedSection]="selectedSection"
        (onSelect)="onSelectSectionClick($event)" (onAddFunction)="onAddFunctionClick($event)"
        (onEdit)="onEditSectionClick($event)" (onDelete)="onDeleteSectionClick($event)"></app-program-section>
      <app-program-function #funcCmpt [data]="functions" [title]="sectionsTitle" [sectionName]="selectedSectName"
        (onEdit)="onEditFunctionClick($event)" (onDelete)="onDeleteFunctionClick($event)"></app-program-function>
    </div>
  </div>
</div>