<mat-card style="align-items: center;">
  <mat-card-header>
    <mat-card-title>
      <h3>【{{sectionName}}】模块功能列表 | 共 {{data.length}} 个</h3>
    </mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
  </mat-card-header>

  <div class="table">
    <table mat-table [dataSource]="data">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> 名称 </th>
        <td mat-cell *matCellDef="let element" style="color: #a5f3fc;"> {{element.name}}&nbsp;&nbsp; </td>
      </ng-container>
      <ng-container matColumnDef="code">
        <th mat-header-cell *matHeaderCellDef> 编码 </th>
        <td mat-cell *matCellDef="let element" style="color: #a5f3fc;"> {{element.code}}&nbsp;&nbsp; </td>
      </ng-container>
      <ng-container matColumnDef="constraint">
        <th mat-header-cell *matHeaderCellDef> 约束 </th>
        <td mat-cell *matCellDef="let element">
          <span *ngIf="element.constraint === '1'">禁用&nbsp;&nbsp; </span>
          <span *ngIf="element.constraint === '2'">锁定&nbsp;&nbsp; </span>
          <span *ngIf="element.constraint !== '1'&&element.constraint !== '2'">-&nbsp;-&nbsp;-</span>
        </td>
      </ng-container>
      <ng-container matColumnDef="limitedExpireAt">
        <th mat-header-cell *matHeaderCellDef> 约束时间 </th>
        <td mat-cell *matCellDef="let element">
          <span *ngIf="element.limitedExpireAt">{{element.limitedExpireAt| date:'yyyy-MM-dd'}} </span>
          <span *ngIf="!element.limitedExpireAt">-&nbsp;-&nbsp;-</span>
        </td>
      </ng-container>
      <ng-container matColumnDef="remark">
        <th mat-header-cell *matHeaderCellDef> 备注 </th>
        <td mat-cell *matCellDef="let element">
          <span matTooltip={{element.remark}}>{{element.remark|clip:8}} </span>
        </td>
      </ng-container>
      <ng-container matColumnDef="operate">
        <th mat-header-cell *matHeaderCellDef> 操作 </th>
        <td mat-cell *matCellDef="let element" style="width: 6rem;">
          <button mat-icon-button matTooltip="编辑" *ngxPermissionsOnly="['pgm_func_update']" (click)="onEditClick(element)">
            <mat-icon>mode_edit</mat-icon>
          </button>
          <button mat-icon-button matTooltip="删除" *ngxPermissionsOnly="['pgm_func_delete']" (click)="onDeleteClick(element)">
            <mat-icon>delete_sweep</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" class="table-header-row"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="table-element-row"></tr>
    </table>
  </div>
</mat-card>