.page {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    overflow-x: auto;
}

.container {
    height: 768px;
    width: 1200px;
    background-color: #424242;
    overflow: hidden;
}

.wrap {
    height: 100%;
    width: 100%;
    z-index: 1;
    position: relative;
    display: grid;
    grid-template-columns: 70% 30%;
}

.exhibition {
    height: 100%;
    background-image: url("/assets/bgs/explore.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
}

.info {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.bg-box {
    position: absolute;
    width: 768px;
    z-index: 0;

    border: 0px solid transparent;
    border-top: 768px solid #6366f147;
    border-right: 150px solid transparent;
    height: 0;
}
