<div class="page bg-image-net">
  <div class="container">
    <div class="bg-box"></div>
    <div class="wrap">
      <div class="exhibition"></div>
      <div class="info">
        <div style="height: 30px;width: 150px;background-color: aquamarine; margin: 1rem;"></div>
        <div style="height: 30px;width: 150px;background-color: aquamarine;margin: 1rem;"></div>
        <div style="height: 30px;width: 150px;background-color: aquamarine;margin: 1rem;"></div>
      </div>
    </div>
  </div>
</div>