<div class="page">
  <div class="topbar">
    <img src="/assets/icons/app.png" />
    <div>
      <h2>系统管理</h2>
    </div>
    <div class="box-fill"></div>
    <button mat-flat-button color="accent">
      <mat-icon>add</mat-icon>添加
    </button>
    <button mat-flat-button color="accent">
      <mat-icon>search</mat-icon>搜索
    </button>
    <button mat-flat-button color="accent">
      <mat-icon>autorenew</mat-icon>重置
    </button>
  </div>
  <div class="content-warp">
    <mat-card class="search">
      <form class="form">
        <mat-form-field appearance="outline">
          <mat-label>名称</mat-label>
          <input matInput placeholder="请输入要搜索的名称" [(ngModel)]="name" name="name" autocomplete="off">
          <mat-icon matSuffix>account_circle</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>类别</mat-label>
          <input matInput placeholder="请选择要搜索的标识码" [(ngModel)]="code" autocomplete="off" name="code">
          <mat-icon matSuffix>account_circle</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>简介/备注</mat-label>
          <input matInput placeholder="请输入要搜索的简介/备注" [(ngModel)]="introOrRemark" autocomplete="off" name="introOrRemark">
          <mat-icon matSuffix>account_circle</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>创建时间</mat-label>
          <mat-date-range-input [rangePicker]="picker">
            <input matStartDate [(ngModel)]="startAt" name="startAt" placeholder="开始日期">
            <input matEndDate [(ngModel)]="endAt" name="endAt" placeholder="结束日期">
          </mat-date-range-input>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
      </form>
    </mat-card>
    <mat-card class="table">
      <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="icon">
          <th mat-header-cell *matHeaderCellDef> 图标 </th>
          <td mat-cell *matCellDef="let element">
            <img class="system-icon" [src]="element.icon" />
          </td>
        </ng-container>
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> 名称 </th>
          <td mat-cell *matCellDef="let element"> {{element.name}}&nbsp;&nbsp; </td>
        </ng-container>
        <ng-container matColumnDef="code">
          <th mat-header-cell *matHeaderCellDef> 标识码 </th>
          <td mat-cell *matCellDef="let element"> {{element.code}}&nbsp;&nbsp; </td>
        </ng-container>
        <ng-container matColumnDef="createdAt">
          <th mat-header-cell *matHeaderCellDef> 创建时间 </th>
          <td mat-cell *matCellDef="let element"> {{element.createdAt| date:'yyyy-MM-dd HH:mm:ss'}} </td>
        </ng-container>
        <ng-container matColumnDef="intro">
          <th mat-header-cell *matHeaderCellDef> 功能简介 </th>
          <td mat-cell *matCellDef="let element">
            <span matTooltip={{element.intro}}>{{element.intro|clip:15}} </span>
          </td>
        </ng-container>
        <ng-container matColumnDef="remark">
          <th mat-header-cell *matHeaderCellDef> 备注 </th>
          <td mat-cell *matCellDef="let element">
            <span matTooltip={{element.remark}}>{{element.remark|clip:15}} </span>
          </td>
        </ng-container>
        <ng-container matColumnDef="operate">
          <th mat-header-cell *matHeaderCellDef> 操作 </th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button matTooltip="编辑" (click)="onEditClick(element)">
              <mat-icon>remove_red_eye</mat-icon>
            </button>
            <button mat-icon-button matTooltip="配置" (click)="onConfigClick(element)">
              <mat-icon>remove_red_eye</mat-icon>
            </button>
            <button mat-icon-button matTooltip="角色" (click)="onRoleClick(element)">
              <mat-icon>remove_red_eye</mat-icon>
            </button>
            <button mat-icon-button matTooltip="删除" (click)="onDeleteClick(element)">
              <mat-icon>remove_red_eye</mat-icon>
            </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" class="table-header-row"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="table-element-row"></tr>
      </table>
    </mat-card>
    <mat-card class="footer">
      <app-paginator [total]="total" [columns]="columns" [columnOp]="columnOp" (onChange)="paginatorChange($event)">
      </app-paginator>
    </mat-card>
  </div>
</div>