<div class="warp">
  <mat-form-field appearance="outline">
    <mat-label>当前排序项</mat-label>
    <mat-select>
      <mat-option value="option">列1</mat-option>
      <mat-option value="option">列2</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>排序方式</mat-label>
    <mat-select>
      <mat-option value="option">升序</mat-option>
      <mat-option value="option">降序</mat-option>
    </mat-select>
  </mat-form-field>
  <div></div>
  <button mat-icon-button>
    <mat-icon color="accent">first_page</mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon color="accent">chevron_left</mat-icon>
  </button>
  <mat-form-field appearance="outline">
    <mat-label>每页条数</mat-label>
    <mat-select>
      <mat-option value="10">10条</mat-option>
      <mat-option value="20">20条</mat-option>
      <mat-option value="50">50条</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <input matInput type="number" placeholder="1" class="page-right-align">
    <span matPrefix>当前第&nbsp;</span>
    <span matSuffix>&nbsp;&nbsp;页</span>
  </mat-form-field>
  <div class="page-total">
    共20页
  </div>
  <button mat-icon-button>
    <mat-icon color="accent">chevron_right</mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon color="accent">last_page</mat-icon>
  </button>
</div>