.list-wrap {
    overflow-y: scroll;
    max-height: 36rem;
}

.section-wrap {
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
    padding: 0.5rem;
    background-color: #595959;
}

.section-wrap:hover {
    background-color: #303030;
}

.section-header {
    color: burlywood;
    display: grid;
    grid-template-columns: 1.5rem auto 5rem 3rem 3rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    align-items: center;
}

.section-header button {
    float: right;
    font-size: 12px;
    margin-left: 0.5rem;
}

.section-header .mat-raised-button {
    height: 24px;
    line-height: 24px;
    width: 2rem;
    padding: 0;
    min-width: 2rem;
}

.title{
    font-size: medium;
    font-weight: bold;
}

.section-remark {
    height: 3rem;
    color: burlywood;
    word-break: normal;
}
