$section-bg-color: #595959;
$section-hover-bg-color: #303030;
$section-selected-bg-color: #303030;

.list-wrap {
    overflow-y: auto;
    max-height: 34.25rem;
}

.section-wrap {
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
    padding: 0.5rem;
    background-color: $section-bg-color;
}

.section-wrap:hover {
    background-color: $section-hover-bg-color;
}

.section-wrap-selected {
    background-color: $section-selected-bg-color;
}

.section-header {
    color: #d1fae5;
    display: grid;
    grid-template-columns: auto 5rem 5rem 3rem 3rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    align-items: center;
}

.section-header button {
    float: right;
    font-size: 12px;
    margin-left: 0.5rem;
}

.section-header .mat-raised-button {
    height: 24px;
    line-height: 24px;
    max-width: 4rem;
    padding: 0;
    min-width: 2rem;
}

.title {
    font-size: medium;
    font-weight: bold;
}

.section-remark {
    height: 3rem;
    color: #ccfbf1;
    word-break: normal;
}
