<div class="page">
  <div class="topbar">
    <img src="/assets/icons/customer.png" />
    <div>
      <h2>客户管理页面</h2>
    </div>
    <div class="box-fill"></div>
    <button mat-flat-button color="accent" (click)="onSearchClick()">
      <mat-icon>search</mat-icon>搜索
    </button>
    <button mat-flat-button color="accent" (click)="onResetClick()">
      <mat-icon>autorenew</mat-icon>重置
    </button>
  </div>
  <div class="content-warp">
    <mat-card class="search">
      <form class="form">
        <mat-form-field appearance="outline">
          <mat-label>账号/昵称</mat-label>
          <input matInput placeholder="请输入要搜索的账号/昵称" [(ngModel)]="dto.nameOrNickname" name="nameOrNickname"
            autocomplete="off">
          <mat-icon matSuffix>report</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>是否被约束</mat-label>
          <mat-select [(ngModel)]="dto.limited" name="limited">
            <mat-option [value]="undefined">- - -</mat-option>
            <mat-option [value]="true">是</mat-option>
            <mat-option [value]="false">否</mat-option>
          </mat-select>
          <mat-icon matSuffix>category</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>备注</mat-label>
          <input matInput placeholder="请输入要搜索的备注内容" [(ngModel)]="dto.remark" autocomplete="off" name="remark">
          <mat-icon matSuffix>message</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>最近登录时间</mat-label>
          <mat-date-range-input [rangePicker]="picker">
            <input matStartDate [(ngModel)]="dto.startAt" name="startAt" placeholder="开始日期">
            <input matEndDate [(ngModel)]="dto.endAt" name="endAt" placeholder="结束日期">
          </mat-date-range-input>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
      </form>
    </mat-card>
    <mat-card class="table">
      <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="avatar">
          <th mat-header-cell *matHeaderCellDef> 头像 </th>
          <td mat-cell *matCellDef="let element">
            <img class="customer-avatar" *ngIf="element.avatar" [src]="element.avatar" />
            <img class="customer-avatar" *ngIf="!element.avatar" src="/assets/icons/customer.png" />
          </td>
        </ng-container>
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> 账号 </th>
          <td mat-cell *matCellDef="let element" style="color: #a5f3fc;min-width: 5rem;"> {{element.name}} </td>
        </ng-container>
        <ng-container matColumnDef="nickname">
          <th mat-header-cell *matHeaderCellDef> 昵称 </th>
          <td mat-cell *matCellDef="let element" style="color: #fde68a;min-width: 5rem;">
            {{element.nickname}}&nbsp;&nbsp; </td>
        </ng-container>
        <ng-container matColumnDef="limited">
          <th mat-header-cell *matHeaderCellDef> 被约束 </th>
          <td mat-cell *matCellDef="let element" style="min-width: 3rem;">
            <span *ngIf="element.limited == true" style="color: red;">是</span>
            <span *ngIf="element.limited != true" style="color: #c4b5fd;">否</span>
          </td>
        </ng-container>
        <ng-container matColumnDef="createdAt">
          <th mat-header-cell *matHeaderCellDef> 注册时间 </th>
          <td mat-cell *matCellDef="let element" style="max-width: 12rem;"> {{element.createdAt| date:'yyyy-MM-dd HH:mm:ss'}} </td>
        </ng-container>
        <ng-container matColumnDef="lastLoginAt">
          <th mat-header-cell *matHeaderCellDef> 最近登陆时间 </th>
          <td mat-cell *matCellDef="let element" style="max-width: 12rem;"> {{element.lastLoginAt| date:'yyyy-MM-dd HH:mm:ss'}} </td>
        </ng-container>
        <ng-container matColumnDef="remark">
          <th mat-header-cell *matHeaderCellDef> 备注 </th>
          <td mat-cell *matCellDef="let element" style="min-width: 5rem;">
            <span matTooltip={{element.remark}}>{{element.remark|clip:18}} </span>
          </td>
        </ng-container>
        <ng-container matColumnDef="operate">
          <th mat-header-cell *matHeaderCellDef> 操作 </th>
          <td mat-cell *matCellDef="let element" style="width: 6rem;">
            <button mat-icon-button matTooltip="查看详情" *ngxPermissionsOnly="['ctm_datail']"
              (click)="onDetailClick(element)">
              <mat-icon>read_more</mat-icon>
            </button>
            <button mat-icon-button matTooltip="备注" *ngxPermissionsOnly="['ctm_remark']"
              (click)="onRemarkClick(element)">
              <mat-icon>message</mat-icon>
            </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" class="table-header-row"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="table-element-row"></tr>
      </table>
    </mat-card>
    <mat-card class="footer">
      <app-paginator [total]="total" [columns]="columns" [columnOp]="columnOp" (onChange)="onPaginatorChange($event)">
      </app-paginator>
    </mat-card>
  </div>
</div>