<mat-card>
  <mat-card-title>
    <h3>程序搜索(共 {{data.length}} 个)</h3>
    <button mat-raised-button color="accent" (click)="onGetClick()">搜索</button>
    <button mat-raised-button color="accent" (click)="onResetClick()">重置</button>
  </mat-card-title>
  <mat-card-subtitle></mat-card-subtitle>
  <div class="search">
    <mat-form-field appearance="outline">
      <mat-label>程序名称/标识码</mat-label>
      <input matInput placeholder="请输入要搜索的程序名称/标识码" [(ngModel)]="dto.nameOrCode" name="nameOrCode" autocomplete="off">
      <mat-icon matSuffix>report</mat-icon>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>程序类别</mat-label>
      <mat-select [(ngModel)]="dto.type" name="type">
        <mat-option value="">全部</mat-option>
        <mat-option value="1">网页端</mat-option>
        <mat-option value="2">服务端</mat-option>
        <mat-option value="3">桌面端</mat-option>
        <mat-option value="4">移动端</mat-option>
      </mat-select>
      <mat-icon matSuffix>security</mat-icon>
    </mat-form-field>
  </div>
  <div class="list-wrap">
    <div class="section-wrap" *ngFor="let section of data;let i  = index">
      <div class="section-header">
        <span class="title">{{section.name}}</span>
        <span>{{section.code}}</span>
        <button mat-raised-button color="accent" (click)="onAddClick(section)">添加</button>
      </div>
      <div>
        <mat-divider></mat-divider>
      </div>
      <div class="section-remark">
        {{section.intro}}
      </div>
    </div>
  </div>
</mat-card>