$section-bg-color: #595959;
$section-hover-bg-color: #303030;

mat-card-title button {
    float: right;
    font-size: 12px;
    margin-left: 1rem;
}

mat-card-title .mat-raised-button {
    line-height: 24px;
    width: 3rem;
    padding: 0;
    min-width: 2rem;
}

.search {
    display: grid;
    grid-template-columns: auto auto;
    gap: 0.5rem;
    margin-bottom: 0.25rem;
}

.search ::ng-deep .mat-form-field-wrapper {
    padding-bottom: 0;
}

.list-wrap {
    overflow-y: scroll;
    max-height: 28.25rem;
}

.section-wrap {
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
    padding: 0.5rem;
    background-color: $section-bg-color;
}

.section-wrap:hover {
    background-color: $section-hover-bg-color;
}

.section-header {
    color: #24c7af;
    display: grid;
    grid-template-columns: 3fr 2fr 4rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    align-items: center;
}

.section-header button {
    float: right;
    font-size: 12px;
    margin-left: 0.5rem;
}

.section-header .mat-raised-button {
    height: 24px;
    line-height: 24px;
    width: 3rem;
    padding: 0;
    min-width: 2rem;
}

.title {
    font-size: large;
}

.section-remark {
    height: 3rem;
    word-break: normal;
    margin-top: 0.5rem;
}

.mat-card .mat-divider-horizontal {
    position: relative;
}

.mat-card-title {
    display: grid;
    grid-template-columns: auto 4rem 4rem;
}

.mat-card-title .mat-raised-button {
    height: 24px;
    line-height: 24px;
    width: 3rem;
    padding: 0;
    min-width: 2rem;
}
